.workplace{

}
.palette{
  display: none
}
.canvas{
  border: 1px solid #ccc;
}
.canvas .grid{
  shape-rendering: crispEdges;
}
.canvas .grid line{
  stroke: #efefef;
  stroke-width:1;
}
.canvas .drawing .caret{
  fill: red;
}