.workplace{
  display: flex;
}
.palette{
  width: 115px;
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}
.palette .sample{
  width: 30px;
  height: 30px;
  margin: 0 5px 5px 0;
  border:1px solid #333;
}
.canvas{
  border: 1px solid #ccc;
}
.canvas .grid{
  shape-rendering: crispEdges;
}
.canvas .grid line{
  stroke: #efefef;
  stroke-width:1;
}
.report{
  width: 250px;
  border: 1px solid #ccc;
  margin-left: 5px;
  font-size: 12px;
  height: 300px;
  overflow: auto;
}